name: Second Workflow

on: [push]

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Simple Js Action
        id: hello
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: 'Richard Aguirre'

