name: Second Workflow

on: [push]

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Action Run
        id: action-run
        uses: ./.github/actions/hello
        with:
          who-to-greet: 'Richard'
      - name: Outputs
        run: |
            echo  "Hello ${{ steps.action-run.outputs.time }}"
 
  second-job:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
      - name: Print Env Variables
        env:
          GITHUB_TOK: ${{ secrets.MY_CUSTOM_SECRET }}
        run: |
          echo "Este es el secreto: ${{ GITHUB_TOK }}"



